<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pubbyserver.dao.OperationLogDao">

    <resultMap id="OperationLogResultMap" type="com.example.pubbyserver.entity.OperationLogEntity">
        <id property="id" column="id"/>
        <result property="operationModule" column="operation_module"/>
        <result property="operationType" column="operation_type"/>
        <result property="operator" column="operator"/>
        <result property="operationTime" column="operation_time"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="executionTime" column="execution_time"/>
        <result property="status" column="status"/>
    </resultMap>

    <insert id="insertOperationLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO operation_log(operation_module, operation_type, operator, operation_time, ip_address, execution_time, status)
        VALUES(#{operationModule}, #{operationType}, #{operator}, #{operationTime}, #{ipAddress}, #{executionTime}, #{status})
    </insert>


    <select id="getAllOperationLogs" resultMap="OperationLogResultMap">
        SELECT * FROM operation_log ORDER BY operation_time DESC
    </select>

    <select id="getOperationLogsByPage" resultMap="OperationLogResultMap">
        SELECT * FROM operation_log
        <where>
            <if test="operationModule != null and operationModule != ''">
                AND operation_module LIKE CONCAT('%', #{operationModule}, '%')
            </if>
            <if test="operationType != null and operationType != ''">
                AND operation_type LIKE CONCAT('%', #{operationType}, '%')
            </if>
            <if test="operator != null and operator != ''">
                AND operator LIKE CONCAT('%', #{operator}, '%')
            </if>
        </where>
        ORDER BY operation_time DESC
        LIMIT #{offset}, #{size}
    </select>

    <select id="countOperationLogs" resultType="int">
        SELECT COUNT(*) FROM operation_log
        <where>
            <if test="operationModule != null and operationModule != ''">
                AND operation_module LIKE CONCAT('%', #{operationModule}, '%')
            </if>
            <if test="operationType != null and operationType != ''">
                AND operation_type LIKE CONCAT('%', #{operationType}, '%')
            </if>
            <if test="operator != null and operator != ''">
                AND operator LIKE CONCAT('%', #{operator}, '%')
            </if>
        </where>
    </select>

</mapper>